.acadBtn,
.item1,
.item2,
.item3 {
  
  margin: 0;
  padding: 0;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}
.tableTop,
.tableBottom {
  height:0;
}
body,
html,
iframe {
  margin: 0;
  font-family: "Open Sans", serif;
  background-color: rgb(87, 87, 87);
  font-size: 0.75em;
  width: 100%;
  height: 100%;
  color: #fff;
}

.acadBtn {
  background: #787878;
  background: -moz-linear-gradient(top, #787878 0, #545454 100%);
  background: -webkit-linear-gradient(top, #787878 0, #545454 100%);
  background: linear-gradient(to bottom, #787878 0, #545454 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787878', endColorstr='#545454', GradientType=0);
  padding: 3px;
  margin: 3px;
  border-color: #323232;
  color: #fff;
}



.tableMainRow {
  background-color: rgb(87, 87, 87);
  background: #535353;
  background: -moz-linear-gradient(top, #535353 0, #464646 100%);
  background: -webkit-linear-gradient(top, #535353 0, #464646 100%);
  background: linear-gradient(to bottom, #535353 0, #464646 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#535353', endColorstr='#464646', GradientType=0);
  border-color: #535353;
}

.tableMaintd {
  text-align: center;
}

.tableMain{
  height:100%;
  width:100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
